<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DynamicMapper">

    <resultMap id="dynamicResult" type="DynamicObject">
        <id property="dynamicId" column="dynamic_id"/>
        <result property="dynamicName" column="dynamic_name"/>
        <result property="dynamicTitle" column="dynamic_title"/>
        <result property="dynamicDesc" column="dynamic_desc"/>
    </resultMap>

    <insert id="insertDynamic" parameterType="DynamicObject">
        insert mybatis_dynamic (dynamic_name,dynamic_title,dynamic_desc)
        values (#{dynamicName},#{dynamicTitle},#{dynamicDesc})
    </insert>

    <select id="selectByLike" parameterType="DynamicObject" resultMap="dynamicResult">
        select * from mybatis_dynamic where 1=1
        <if test="dynamicName != null"> and dynamic_name = #{dynamicName}</if>
        <if test="dynamicTitle != null"> and dynamic_title = #{dynamicTitle}</if>
        <if test="dynamicDesc != null"> and dynamic_desc = #{dynamicDesc}</if>

    </select>

    <select id="selectByWhere" parameterType="DynamicObject" resultMap="dynamicResult">
         select * from mybatis_dynamic
         <where>
             <if test="dynamicName != null"> and dynamic_name = #{dynamicName}</if>
             <if test="dynamicTitle != null"> and dynamic_title = #{dynamicTitle}</if>
             <if test="dynamicDesc != null"> and dynamic_desc = #{dynamicDesc}</if>
         </where>
    </select>

    <select id="selectByChoose" parameterType="DynamicObject" resultMap="dynamicResult">
         select * from mybatis_dynamic
         <where>
             <choose>
                 <when test="dynamicName != null"> and dynamic_name = #{dynamicName}</when>
                 <when test="dynamicTitle != null"> and dynamic_title = #{dynamicTitle}</when>
                 <when test="dynamicDesc != null"> and dynamic_desc = #{dynamicDesc}</when>
                 <otherwise>and 1==2</otherwise>
             </choose>
         </where>
    </select>


    <update id="updateSet" parameterType="DynamicObject">
        update mybatis_dynamic
      <set>
          <if test="dynamicName != null">dynamic_name = #{dynamicName},</if>
          <if test="dynamicTitle != null">dynamic_title = #{dynamicTitle},</if>
          <if test="dynamicDesc != null">dynamic_desc = #{dynamicDesc}</if>
      </set>
        where dynamic_id =#{dynamicId}
    </update>


    <select id="selectForeach" resultMap="dynamicResult">
        select * from mybatis_dynamic where dynamic_id in
        <foreach collection="list" item="dynamicId" separator="," open="(" close=")">
            #{dynamicId}
        </foreach>
    </select>

    <insert id="includeInsert" parameterType="DynamicObject">
        insert into mybatis_dynamic
        <include refid="key"/>
        values
        <include refid="value"/>
    </insert>

    <sql id="key">
        <trim suffixOverrides="," prefix="(" suffix=")">
            <if test="dynamicName != null">dynamic_name,</if>
            <if test="dynamicTitle != null">dynamic_title,</if>
            <if test="dynamicDesc != null">dynamic_desc</if>
        </trim>
    </sql>

    <sql id="value">
        <trim suffixOverrides="," prefix="(" suffix=")">
            <if test="dynamicName != null">#{dynamicName},</if>
            <if test="dynamicTitle != null">#{dynamicTitle},</if>
            <if test="dynamicDesc != null">#{dynamicDesc}</if>
        </trim>
    </sql>

</mapper>